<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>Specs v.0.4</title>
	
	<!-- Le styles -->
    <link href="assets/bootstrap.specs-engine.css" rel="stylesheet">

</head>

<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				<span class="brand" id="project-title" data-content="">Project Name</span>
				<span id="version" class="pull-left"></span>

			    <span id="cat-dropdown" class="dropdown pull-right">
			    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				    	<span id="cat-name">Dropdown</span> <b class="caret"></b>
				    </a>
				    <ul class="dropdown-menu">
				    
				    </ul>
			    </span> <!-- /.dropdown -->
				
			</div>
		</div>
	</div> <!-- /.navbar -->

	<div class="container">
	
			<div id="msg" class="alert">
				
			</div> <!-- /#msg -->

	
			<div id="main">
				
			</div> <!-- /#main -->
	
	</div> <!-- /.container -->
	
	<!-- TEMPLATING -->
	
	<div id="readfile"></div>
	
	<!-- Category -->
    <script type="text/template" id="template-category"> 
    	<div id="<%= hash %>" class="category">
    		<h2><%= title %></h2>
    		<p><%= desc %></p>
    	</div>
    </script>

	<!-- Mockup -->
    <script type="text/template" id="template-mockup"> 
    	<div class="mockupinfo">
	    	<h3><%= title %></h3>
	    	<p><%= desc %></p>
	    </div>
    </script>
    
	<!-- Dot -->
    <script type="text/template" id="template-dot"> 
    	<span class="dot mockup mock-<%= index %>" data-id="<%= index %>" style="left: <%= left - 12 %>px; top: <%= top - 12 %>px;"><%= index %></span>
    </script>
    
    <script type="text/template" id="template-dot-sidebar"> 
    	<div class="notation">
	    	<span class="dot side-<%= index %>" data-id="<%= index %>"><%= index %></span>
	    	<p><%= content %></p>
	    </div>
    </script>
    
    <!-- JS Shtuff -->
	<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="js/showdown.js" type="text/javascript"></script>
	<script src="js/bootstrap-tooltip.js" type="text/javascript"></script>
	<script src="js/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="js/underscore.min.js" type="text/javascript"></script>
    <script src="assets/specs.stable.js" type="text/javascript"></script>
	
</body>
</html>

